<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

<style type="text/css">
	.l1 {
		text-decoration: underline;
	}
	@media print {
	  body * {
	    visibility: hidden;
	  }
	  #printarea * {
	    visibility: visible;
	  }
	  #printarea {
	    position: absolute;
	    left: 0;
	    top: 0;
	  }
	}
</style>

</head>
<body>
	  {% include "layouts/sidebar.html" %}

<div id="printarea">
<div class="container" style="margin: 20%; margin-top: 2%;">
  <center><h2>Leaving Certificate</h2></center>
  <form action="/lc/" method="POST">
  	{% csrf_token %}
	<div class="form-group">
   	  <label for="genregno">gen-reg-no</label>
   	  <label class="l1" for="genregno">{{row.gen_reg_no}}</label>
	</div>

    <div class="form-group">
      <label for="name">Name : </label>
      <label class="l1" for="name">{{row.name}}</label>
    </div>
    <div class="row">
    	<div class="col-md-6">
    		<div class="form-group">
      		<label for="cast">Race and Caste : </label>
      		<label class="l1" for="cast">{{row.cast}}</label>
    		</div>
		</div>
		<div class="col-md-6">
			<div class="form-group">
      		<label for="subcast">Sub-Caste : </label>
      		<label class="l1" for="subcast">{{row.subcast}}</label>
    		</div>
		</div>
	</div>

	<div class="row">
    	<div class="col-md-6">
    		<div class="form-group">
      		<label for="nationality">Nationality : </label>
      		<label class="l1" for="nationality">{{row.nationality}}</label>
    		</div>
		</div>
		<div class="col-md-6">
			<div class="form-group">
      		<label for="enrollment">Enrollment : </label>
      		<label class="l1" for="enrollment">{{row.enrollment}}</label>
    		</div>
		</div>
	</div>

	<div class="form-group">
	    <label for="birthplace">Place of birth : </label>
	    <label class="l1" for="birthplace">{{row.birthplace}}</label>
	</div>

	<div class="form-group">
	    <label for="dob">Enter date of birth : </label>
	    <label class="l1" for="dob">{{row.dob}}</label>
	</div>

	<div class="form-group">
	    <label for="lastschool">Last School/College attended : </label>
	    <label class="l1" for="lastschool">{{row.lastschool}}</label>
	</div>

<div class="row">
    	<div class="col-md-6">
	<div class="form-group">
	    <label for="progress">Progress : </label>
	    <label class="l1" for="progress">{{row.progress}}</label>
	</div>
</div>
		<div class="col-md-6">

	<div class="form-group">
	    <label for="conduct">Conduct : </label>
	    <label class="l1" for="conduct">{{row.conduct}}</label>
	</div>
</div>
</div>

	<div class="form-group">
	    <label for="dol">Day of leaving institute : </label>
	    <label class="l1" for="dol">{{row.dol}}</label>
	</div>

	<div class="form-group">
	    <label for="course">course and year in which studying : </label>
	    <label class="l1" for="course">{{row.course}}</label>
	</div>

	<div class="form-group">
	    <label for="reason">reason for leaving institute : </label>
	    <label class="l1" for="reason">{{row.reason}}</label>
	</div>

	<div class="form-group">
	    <label for="remark">Remark : </label>
	    <label class="l1" for="remark">{{row.remark}}</label>
	</div>

	<div class="form-group">
	    <label for="place">place : </label>
	    <label class="l1" for="place">{{row.place}}</label>
	</div>

	<div class="form-group">
	    <label for="date">Date : </label>
	    <label class="l1" for="date">{{row.date}}</label>
	</div>
  </form>
</div>
</div>
    <button type="submit" class="btn btn-success">Submit</button>
    <button type="submit" class="btn btn-danger bt">Print/button>

<script type="text/javascript">
	
	$('.bt').on('click', function(e){
		// window.print();
		$('#printarea').printThis()
	})

</script>

</body>
</html>
