<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
<form id="myForm" method="POST">
  <ul class="error"></ul>
  {% csrf_token %}
      <h1>registration</h1><br><br>
    <div class="form-group">
       <label for="name">Name:</label>
      <input type="text" class="form-control" id="name" placeholder="Enter name" name="name" required>
    </div>
      <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" class="form-control" id="email" placeholder="Enter email" name="email" required>
    </div>
    <div class="form-group">
      <label for="pwd">Password:</label>
      <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="password" required>
    </div>
    <button type="submit" class="btn btn-default">Submit</button><br>
    <a href="/">Login</a>
  </form>
</div>
<script>
$('#myForm').on('submit', function(e){
  e.preventDefault()
  $.ajax({
    url : "/registered/",
    method : 'POST',
    type: 'JSON',
    headers: { "X-CSRFToken": '{{csrf_token}}' },
    data : new FormData(this),
    contentType: false,
    cache : false,
    processData:false,
    success : function(obj){
    if(obj.status == 1)
        alert("email already exist")
    else{
        window.location.href="/"
      }
    },
    error : function(obj){
      alert("error")

    }
  })
})

$('form').on('submit', function(e){
    $('.error').empty()
    error = []
    error[0] = ($('#email').val()=="")?$('.error').append("<li class='alert alert-danger'>Email is required!!</li>"):false
    error[1] = ($('#pwd').val()=="")?$('.error').append("<li class='alert alert-danger'>Password is required!!</li>"):false
    if(error[0]||error[1])
      e.preventDefault()
    else
      return true;

</script>
</body>
</html>
